body
{
    overflow: hidden;
    background: #332e2e;
}
.links
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 100%;
    padding-top: 40px;
}
.link
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 75px;
    border-radius: 2px;
    border: 2px solid #fafafa;
    font-size: 1.2rem;
    text-decoration: none;
    margin-bottom: 12px;
    transition: .3s ease-in-out;
    opacity: .9;
}
.link:hover
{
    border: 2px solid transparent;
}
.link:hover.link a
{
    transform: scale(.95);
}
.link a
{
    display: inherit;
    position: inherit;
    height: 100%;
    width: 100%;
    color: #fafafa;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: transform .3s ease-in-out;
    font-size: 1rem;
}
.angry-cat
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    transform: translateY(-50%);
}